---
import Footer from "~components/shared/Footer.astro";
import NavBar from "~components/common/NavBar";
import "~styles/global.css";
import { ClientRouter } from "astro:transitions";
import Newsletter from "~components/shared/Newsletter.astro";

export interface Props {
  title: string;
  ogTitle?: string;
  description?: string;
  canonical?: string;
  image?: {
    url: string;
    alt: string;
  };
  disableIndexing?: boolean;
  pageUrl?: string;
  pageType?: string;
  pageCategory?: string;
  pageTags?: string[];
  pagePublishedAt?: string;
  pageModifiedAt?: string;
  pageAuthor?: string;
  LdType?: string;
  ogImage?: string;
  ogType?: string;
  ogUrl?: string;
  pubDatetime?: string;
  modDatetime?: string;
}

const { ...head } = Astro.props as Props;

const ogImgeUrl = new URL(head.ogImage || "/images/og.jpeg", Astro.url.origin)
  .href;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{head.title}</title>
    <meta name="title" content={head.title} />
    <meta name="description" content={head.description} />
    <meta name="author" content="Netronk Innovation" />
    <meta name="robots" content="index, follow" />
    <meta
      name="keywords"
      content="Netronk, Innovation, Technology, Software Development, AI Applications, Web Development, Frontend, Backend, Full-Stack, Programming Languages, TypeScript, Rust, Freelance, Fiverr, Client Communication, Project Management"
    />
    <link rel="canonical" href={head.canonical} />
    <link rel="favicon" href="/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="160x160" href="/icons/160-160.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/32-32png.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/16-16png.png"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#131820"
    />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#131820" />
    <meta name="msapplication-TileColor" content="#131820" />
    <meta property="og:type" content={head.ogType || "website"} />
    <meta property="og:url" content={head.ogUrl || "https://netronk.com"} />
    <meta property="og:title" content={head.title} />
    <meta property="og:description" content={head.description} />
    <meta property="og:image" content={ogImgeUrl} />
    <meta property="og:site_name" content="Netronk Innovation" />
    <meta property="og:locale" content="en_US" />
    {
      head.pubDatetime && (
        <meta property="article:published_time" content={head.pubDatetime} />
      )
    }
    {
      head.modDatetime && (
        <meta property="article:modified_time" content={head.modDatetime} />
      )
    }
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="netronk.com" />
    <meta property="twitter:url" content="https://netronk.com" />
    <meta property="twitter:title" content={head.title} />
    <meta property="twitter:description" content={head.description} />
    <meta property="twitter:image" content={ogImgeUrl} />
    <link
      rel="preload"
      href="/fonts/MontBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/MontRegular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/MontSemiBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/MontHeavy.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="https://netronk.com/rss.xml"
    />
    <meta
      name="ahrefs-site-verification"
      content="50e567b0d7d2d9d75b26d4c3de38a7d2303e1aec4cdfa9b6788da169ba133ad8"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap"
      rel="stylesheet"
    />

    <link rel="preload" as="image" href="/logo/160-160.png" />

    <link
      rel="preload"
      as="image"
      href="/logo/250-150.png"
      imagesrcset="/logo/250-150.png 500w, /logo/400-100.png 1000w"
      imagesizes="50vw"
    />

    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-DWS106ZQ6L"
      is:inline></script>
    <!-- <script
      id="Cookiebot"
      src="https://consent.cookiebot.com/uc.js"
      data-cbid="03d3916a-df52-4914-a76a-1977b7ac2833"
      data-blockingmode="auto"
      type="text/javascript"
      is:inline></script>
    <script
      id="CookieDeclaration"
      src="https://consent.cookiebot.com/03d3916a-df52-4914-a76a-1977b7ac2833/cd.js"
      type="text/javascript"
      async
      is:inline></script> -->
    <script type="text/partytown" data-cookieconsent="ignore" is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-DWS106ZQ6L");
      gtag("consent", "default", {
        ad_personalization: "denied",
        ad_storage: "denied",
        ad_user_data: "denied",
        analytics_storage: "denied",
        functionality_storage: "denied",
        personalization_storage: "denied",
        security_storage: "granted",
        wait_for_update: 500,
      });
      gtag("set", "ads_data_redaction", true);
      gtag("set", "url_passthrough", false);
    </script>

    <script type="application/ld+json" is:inline>
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Netronk Innovation",
        "address": "uggalboda, 206/E jayanthi road, gamapaha 11030",
        "keywords": "Netronk, Innovation, Technology, Software Development, AI Applications, Web Development, Frontend, Backend, Full-Stack, Programming Languages, TypeScript, Rust, Freelance, Fiverr, Client Communication, Project Management",
        "url": "https://www.netronk.com",
        "description": "Discover Netronk Innovations, where we redefine digital experiences through cutting-edge solutions in frontend development, web design, and AI integration.",
        "logo": "https://www.netronk.com/logo/logo.png",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+94-760-35-1335",
          "contactType": "Customer Service"
        },
        "alternateName": ["Netronk", "Netronk Innovation", "Netronk Agency"],
        "sameAs": [
          "https://instagram.com/net.ronk",
          "https://www.facebook.com/netronk",
          "https://www.linkedin.com/company/netronk",
          "https://www.github.com/netronk"
        ]
      }
    </script>
    <script src="//code.tidio.co/hhvkmxakxi7ept9hm0vjnrgffcaxvxsa.js" is:inline
    ></script>

    <ClientRouter />
  </head>

  <body>
    <NavBar client:load />
    <main>
      <slot />
      <Newsletter />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  @font-face {
    font-family: "Mont";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("/fonts/MontRegular.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: "Mont";
    font-style: bold;
    font-display: swap;
    font-weight: 700;
    src: url("/fonts/MontBold.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Mont";
    font-style: semi-bold;
    font-display: swap;
    font-weight: 600;
    src: url("/fonts/MontSemiBold.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: "Mont";
    font-style: bold;
    font-display: swap;
    font-weight: 900;
    src: url("/fonts/MontHeavy.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
</style>
